@import 'constants';
@import 'normalize';
* >a:link, a:visited, a:hover, a:active {
  text-decoration: none;
  color : white;
}
body {
  minHeight : 100%
}
.green {
color : #4CAF50;
}
.red {
 color : #F44336;

}
.orange{
  color : #FF9800;
}
.big {
  font-size: 28px !important;
  font-weight: bold;
}
.paper__main{
  height: 100vh;
  width : 100vw;
  color: darkseagreen;

}
.footer__wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
}
.segment__impressum{
  padding-left : 40px;
  padding-right: 40px;
}

h2 {
	color: $primary;
}

@media screen and (max-width: $break-small) {

  .paper__main {
    max-width: 640px;
  }
  float: none;
}